body {
  background-color: #d5d4d4;
}

#container {
  --_border: #e1e1e1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  height: 2rem;
}

td,
th {
  position: relative;
  width: 4rem;
  padding: 0.25rem;
  border: 1px solid var(--_border);
  text-align: left;
  vertical-align: center;
}

.selected {
  border: 0.16rem solid royalblue;
}

.editable {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  cursor: text;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
